@font-face {
    font-family: 's-core-dream-regular';
    src: url('/fonts/scdream4.woff2') format('woff2'), url('/fonts/scdream4.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}